<div class="text-center homepage-quote">
  <h1>dunbar</h1>
  <h2>Expand the amount of deep connections you can have with others</h2>
  <p>Welcome to Dunbar: Take notes, grow your conenctions.</p>
  <div class="homepage-buttons">
    <a href="/login" class="btn btn-primary">Log In</a>
    <a href="/signup" class="btn btn-secondary">Sign Up</a>
  </div>
</div>